.post_detail{
    margin-bottom: 2em;
}

.post_detail img{
    max-width: 600px;
}

.post_detail .post_detail_info{
    padding: 1.5em;
    border: 1px solid #CCC;
    margin-top: -10px;
}

.post_detail h2{
    margin-bottom: .4em;
}

.post_detail .tags{
    margin-bottom: 1.2em;
    display: flex;
    flex-direction: row;
}


.post_detail .tags p {
    margin-right: .5em;
}

.post_detail .tags span {
    font-weight: bold;
}

.post_detail .createdBy {
    font-style: italic;
    color: #444444;
    font-size: .8em;
    margin-bottom: 1em;
}